<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rigel.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Rigel.MVC.styles.css" asp-append-version="true" />
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #ffffff;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="~/logoThumbnail.png" style="width: 200px; height: auto;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-light"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link text-dark" aria-current="page" href="/"><i class="fas fa-home" style="margin-right: 3px;"></i>Home</a>
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                    <a class="nav-link text-primary" href="/posts/create"><i class="fas fa-plus-square" style="margin-right: 3px;"></i>New Post</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-primary" href="/users/@User.Identity.Name">
                    <img style="width:20px; height:20px; margin-right: 3px; border-radius:10px" src="https://api.dicebear.com/5.x/identicon/svg?seed=@User.Identity.Name&backgroundColor=ffffff"/>@User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-primary" href="/user/logout"><i class="fas fa-sign-out-alt" style="margin-right: 3px;"></i>Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                    <a class="nav-link text-primary" href="/user/login"><i class="fas fa-sign-in-alt" style="margin-right: 3px;"></i>Login</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-primary" href="/user/signup"><i class="fas fa-user-plus" style="margin-right: 3px;"></i>Signup</a>
                    </li>
                }

            </ul>
            <form class="d-flex" role="search" action="/posts/search" method="get">
                <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>
    <hr>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted container">
        <div class="container">
            &copy; 2023 - Rigel - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
