@{
    ViewData["Title"] = "Rigel";
}
<style>
    .postcard {
        max-width: 1000px;
        width: 100%;
    }
</style>

@if (ViewBag.Categories != null){
    @foreach (var c in ViewBag.Categories)
    {
        <div class="card postcard border-secondary">
            <div class="card-body">
                <span><a href="/category/@c.id" class="text-dark"><b>@c.name</b></a></span>
            </div>
        </div><br>
    }
}